.musicList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* background-color: rgb(67, 75, 72); */
    background-color: rgb(36, 135, 135);
    margin: 10px 0;
    border-radius: 5px;
    color: white;
}
.musicNameDex{
    line-height: 2px;
    width: 300px;
}
.musicList >div{
    margin: 5px 10px;
}
.musicList button{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}