.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 75vh;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(15, 16, 20) 33%,
    rgba(15, 16, 20, 0.084) 60.9%
  );
  margin-top: 5px;
}

.BackgroundImage {
  width: 100%;
  z-index: -1;
  margin: 80px 0px;
}
.img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.Imagetitle {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 40%;
  text-align: left;
}
.gradiant {
  background-image: linear-gradient(
    to right,
    rgb(15, 16, 20) 33%,
    rgba(15, 16, 20, 0.084) 99.9%
  );
  width: 50%;
}

@media screen and (max-width: 700px) {
  .Imagetitle {
    display: none;
  }
  .gradiant {
    display: none;
  }
  .container {
    background-image: none;
    height: 70vh;
  }
}
@media screen and (max-width: 900px) {
  .container {
    
    height: 70vh;
  }
  .gradiant {
    width:30%;
  }
}
