.Footer{
    /* background-image: linear-gradient( rgb(19,19,25),rgb(12,17,27)); */
    
    display: flex;
    justify-content: space-around;
    color :white;
    padding: 30px;
}

.Footer > div{
    width: 50%;
}



.footer_links  a {
    margin-right: 20px;
    
    color: white;
    text-decoration: none;
    
}
.footer_links  a:hover{
    color:rgb(31, 128, 224);
}

.copyright{
   
    font-size: 12px;
}
p > a{
    color :rgb(31, 128, 224);
}

.connect{
    display: flex;
    justify-content: space-around;
}
.connect a {
    margin-right: 25px;
    margin-top:5px ;
    color: white;
    text-decoration: none;
    



}
.fb{
    background-color: rgb(25,33,51);
    
    padding: 4px 12px;
    
}
.twitter{
    background-color: rgb(25,33,51);
    padding: 4px 12px;
}

.playstore{
    background-color: rgb(25,33,51);
    padding: 4px 12px;
}
.appstore{
    background-color: rgb(25,33,51);
    padding: 4px 12px;
}
@media screen and (max-width:700px) {
    .Footer, .copyright{
        font-size: 10px;
    }
    .connect{
        flex-direction: column;
        margin-left: 90px;
    }
    
}